body {
    height:100%;
    width:100%;
}

/*
header {

}

nav {

}
*/
/******************/

.card {
    border: 4px solid black;
    border-radius: 5px;
    height: 300px;
    width: 200px;
    padding: 1%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

.card-header {
    /* background-color: pink; */ /* debug */
    height: 14%;
    box-sizing: border-box;
}

.card-title {
    /* TODO */
    float: left;
    width: 70%;
    font-size: large;
    font-weight: bold;
    border-bottom: 1px solid black;
}

.card-type {
    /* TODO */
    float: left;
    font-style: italic;
    font-size: medium;
}

.card-value {
    /* background-color: rgb(160, 224, 240); */
    border: 1px solid black;
    border-radius: 10px;
    height: 100%;
    width: 24%;
    float: right;
    font-size: xx-large;
    text-align:center;
    box-sizing: border-box;
}

.card-art {
    background-color: palegreen; /* debug */
    /* TODO: background-image: url(); */
    border-radius: 10px;
    margin-top: 3%;
    margin-bottom: 3%;
    height: 60%;
    box-sizing: border-box;
}

.card-desc {
    /* background-color: paleturquoise; */ /* debug */
    font-size: small;
    font-style: italic;
    border: 1px solid black;
    border-radius: 10px;
    padding: 2px 5px 2px 5px;
    height: 22%;
    box-sizing: border-box;
}